.payment{
    background-color: white;
}
.payment_container>h1{
    text-align: center;
    padding: 10px;
    font-weight: 400;
    background-color: rgb(234,237,237);
    border-bottom: 1px solid lightgray;
}
.payment_container>h1 a{
    text-decoration: none;
}
.payment_section{
    display: flex;
    padding: 20px;
    margin: 0 20px;
    border-bottom: 1px solid lightgray;
}
.payment_title{
    flex: 0.2;
}
.payment_address ,.payment_items,.payment_details{
    flex: 0.8;
}
.payment_details>form{
    max-width: 400px;

}
.payment_details>h3{
    padding-bottom:20px;

}
.payment_button{
    width: 100%;
    min-height: 30px;
    font-weight: bolder;
    border-radius: 2px;
    background: #0b2d5a;
    border: 1px solid;
    margin-top: 10px;
    border-color: none;
    color: white;
    cursor: pointer;
    font-weight: 600;
    transition: 250ms;
}
.payment_button:hover{
    transform: scale(1.03);
    background-color: white;
    font-weight: 600;
    border: 2px solid #0b2d5a;
    color: #0b2d5a;
}
